<div class="container">
    <div class="row">
        <div class="col-md-6">
   
<h2> Reactive form</h2>

<form [formGroup]="simpleForm" (ngSubmit)="onsubmit(simpleForm.value)">
    <input type="text" name="username" id="username" formControlName="username" ><br> <br>

    <input type="password" name="password" id="password" formControlName="password" >  <br> <br>

    <button class="btn btn-primary" type="submit"> Submit</button>
</form>
</div>
<div class="col-md-6">

    <h2> template diriven form </h2>
    <form #contactForm="ngForm"(ngSubmit)="collectdata(contactForm.value)">
        <input type="text" name="company" id="company"  ngModel>  <br> <br>
        <input type="text" name="adress" id="adress"  ngModel> <br> <br>
        
        <button type="submit" class="btn btn-warning" > Submit </button>
        
    </form>
</div>
</div>
</div>
<br> <br>

